body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-inverse{
    background-color:black;
}

.btn-primary{
    background-color:darkviolet;
}

.btn-default{
    background-color:dimgray;
}

.jumbotron {
    background: linear-gradient(rgba(25,100,126,0.3),rgba(25,100,126,0.3)),url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    -ms-background-size: cover;
    background-size: cover;
    height: 700px;
}

.row{
    background-color:bisque;
}

body{
background-color:gray;
}

.navbar-nav {
    color: black;
}

.jumbotron h1 {
    color: White
}

.pictures {
    width:100%; 
    
    
}
