@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>African Recipe</h1>
  
</div>

<div class="row">
    <div class="col-md-4">
      <div><img class="pictures" src="~/images/ef 12.jpg" /></div>  
           .
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Watch Video &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div><img class="pictures" src="/images/ar2.jpg" /></div>
        
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Watch Video &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div><img class="pictures" src="/images/ar3.jpg" /></div>
        .
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Watch Video &raquo;</a></p>
    </div>
</div>